@import './normalize.css';
@import './loader.css';

body {
    background: rgba(0, 0, 0, 1);
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
}
a {
    color: rgba(255, 102, 0, 1);
}
a:hover {
    color: rgba(230, 50, 0, 1);
}
.app {
    display: flex;
    flex-flow: row wrap;
}
.header, .main, .nav, .aside, .footer {
  flex: 1 100%;
}
.weapons-container {
    border: 1px solid rgba(255, 102, 0, 1);
    padding: 10px;
  }
.weapons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.chart {
    margin: 5px;
    padding: 5px;
    text-align: center;
    background: rgba(32, 32, 32, 1);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.chart-header {
  display: flex;
  flex: 1;
  margin: auto;
}
.chart-body {
  display: flex;
  margin: auto;
  justify-content: flex-end;
  flex-grow: 1;
}
.chart .weaponfile {
    font-size: 13px;
    color: rgba(150, 150, 150, 1);
}
.axis line {
    stroke: rgba(150, 150, 150, 1);
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: rgba(150, 150, 150, 1);
}
.header {
    background: linear-gradient(
        to top,
        rgba(20, 20, 20, 1),
        rgba(42, 42, 42, 1)
    );
    background: rgba(20, 20, 20, 1);
    min-width: 100vw;
    border-bottom: 1px solid rgba(210, 88, 6, 1);
}
.main {
    padding: 0 15px;
    margin: 0 10px;
}
.options form {
    margin: 10px 0 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;;
    align-items: stretch;
}
.options label {
    display: flex;
    align-items: center;
    color: rgba(210, 200, 200, 1);
    border: 1px solid rgba(75, 70, 70, 1);
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;;
}
.options label select {
    margin-left: 10px;
}
h1, h2 {
    color: rgba(255, 102, 0, 1);
}
h1 {
    font-size: 20px;
    margin: 0;
    display: flex;
    font-weight: normal;
}
h1 a {
    text-decoration: none;
}
h1 .logo {
    background: rgba(210, 88, 6, 1);
    color: #fff;
    padding: 10px 30px 10px 20px;
    display: flex;
}
h1 .logo:hover {
    background-color: rgba(255, 102, 0, 1);
}
h1 .subtitle {
    color: #fff;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
}
h2 {
    border: 1px solid rgba(255, 102, 0, 1);
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    background-color: rgba(0, 0, 0, 0.75);
    font-style: normal;
    border: 1px solid rgb(255, 102, 0);
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.2rem;
    font-weight: bold;
}
.footer {
    margin: 20px;
}
h2 .weaponGroupName {
    color: rgba(205, 205, 205, 1);
    margin-left: 10px;
    letter-spacing: 0;
    font-weight: normal;
}
select {
    color: #fff;
}
.intro {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}
.intro .text {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 15px 0;
}
.intro .text div {
    margin: 10px 0;
}
form.subscribe {
    margin: 15px auto 10px auto;
    padding: 10px;
    background: rgba(35, 30, 30, 1);
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-self: flex-end;
    flex: 1;
    border: 1px solid rgba(50, 50, 50, 1);
    min-width: 250px;
}
form.subscribe div {
    display: flex;
    flex: 1;
    margin-bottom: 10px;
    color: rgba(142, 142, 142, 1);
}
form.subscribe .inner {
    display: flex;
    border: 1px solid rgba(255, 102, 0, 1);
}
form.subscribe input, form.subscribe button {
    display: flex;
}
form.subscribe input {
    text-transform: uppercase;
    padding: 5px 10px;
    flex: 1;
}
button {
    border: none;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    transition: 30ms background-color linear;
    color: #fff;
    background-color: rgba(210, 88, 6, 1);
}
button:hover {
    background-color: rgba(255, 102, 0, 1);
}
button:focus {
    background-color: rgba(169, 67, 0, 1);
}
::selection {
  color: #fff;;
  background-color: rgba(210, 88, 6, 1);
}
