body {
    background: rgba(255, 250, 250, 1);
    font-family: 'Roboto', sans-serif;
}
.app {
    display: flex;
    flex-flow: row wrap;
}
.header, .main, .nav, .aside, .footer {
  flex: 1 100%;
}
.chart {
    width: 250px;
    height: 250px;
    float: left;
    margin: 10px;
    padding: 5px 5px 10px;
    text-align: center;
}
.header {
    position: fixed;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 10px rgba(50, 30, 30, 0.1);
    border-bottom: 1px solid rgba(235, 210, 210, 1);
    width: 100%;
    padding: 5px;
    text-align: center;
}
.main {
    padding: 10px;
    margin-top: 80px;
}
.options label {
    margin: 10px;
}
.options form {
    margin: 10px 0 5px;
}
h1, h2 {
    color: rgba(255, 102, 0, 1);
    text-align: center;
}
h1 {
    margin: 0 0 0 5px;
}
