body {
    background: rgba(0, 0, 0, 1);
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
}
a {
    color: rgba(255, 102, 0, 1);
}
a:hover {
    color: rgba(230, 50, 0, 1);
}
.app {
    display: flex;
    flex-flow: row wrap;
}
.header, .main, .nav, .aside, .footer {
  flex: 1 100%;
}
.weapons-container {
    border: 1px solid rgba(255, 102, 0, 1);
    padding: 10px;
    flex-shrink:
}
.weapons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.chart {
    margin: 5px;
    padding: 15px 15px 0px 5px;
    text-align: center;
    background: rgba(32, 32, 32, 1);
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
}
.chart .title {
    display: flex;
    justify-content: center;
}
.chart canvas {
    display: flex;
}
.chart .watermark {
    position: absolute;
    margin-top: 90px;
    margin-left: -60px;
    color: rgba(255, 230, 230, 0.05);
    transform: rotate(-30deg);
    letter-spacing: 5px;
}
.header {
    background: linear-gradient(
        to top,
        rgba(20, 20, 20, 1),
        rgba(42, 42, 42, 1)
    );
    box-shadow: 0px 2px 10px rgba(50, 30, 30, 0.1);
    width: 100%;
    padding: 10px;
}
.main {
    padding: 10px;
    margin: 0 10px;
}
.options {
    display: flex;
    flex: 3;
}
.options label {
    margin: 10px;
    color: rgba(210, 200, 200, 1);
}
.options form {
    margin: 10px 0 5px;
}
h1, h2 {
    color: rgba(255, 102, 0, 1);
    font-weight: normal;
}
h1 {
    font-size: 20px;
    margin: 0 0 0 5px;
    display: flex;
}
h1 span {
    color: #fff;
    margin-left: 10px;
}
h2 {
    border: 1px solid rgba(255, 102, 0, 1);
    padding: 10px;
    font-size: 15px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
}
.footer {
    margin: 20px;
}
.weaponGroupName {
    color: rgba(205, 205, 205, 1);
    margin-left: 10px;
}
select {
    color: #fff;
}
