body {
    background: rgba(0, 0, 0, 1);
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
}
a {
    color: rgba(255, 102, 0, 1);
}
a:hover {
    color: rgba(230, 50, 0, 1);
}
.app {
    display: flex;
    flex-flow: row wrap;
}
.header, .main, .nav, .aside, .footer {
  flex: 1 100%;
}
.weapons-container {
    border: 1px solid rgba(255, 102, 0, 1);
    padding: 10px;
    flex-shrink:
}
.weapons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.chart {
    margin: 5px;
    padding: 5px 5px 0px 0px;
    text-align: center;
    background: rgba(32, 32, 32, 1);
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
}
.chart .chart-header {
    display: flex;
    justify-content: flex-start;
}
.chart .title {
    display: flex;
    margin-left:15px;
    flex: 1;
}
.chart .weaponfile {
    display: flex;
    font-size: 13px;
    color: rgba(100, 100, 100, 1);
    align-self: flex-end;
}
.chart canvas {
    display: flex;
}
.chart .watermark {
    position: absolute;
    margin-top: 90px;
    margin-left: -60px;
    color: rgba(255, 230, 230, 0.2);
    transform: rotate(-30deg);
    letter-spacing: 5px;
}
.header {
    background: linear-gradient(
        to top,
        rgba(20, 20, 20, 1),
        rgba(42, 42, 42, 1)
    );
    background: rgba(20, 20, 20, 1);
    min-width: 100vw;
    border-bottom: 1px solid rgba(210, 88, 6, 1);
}
.main {
    padding: 0 15px;
    margin: 0 10px;
}
.options form {
    margin: 10px 0 5px;
    display: flex;
    flex-direction: column;
    flex-direction: wrap;
}
.options label {
    color: rgba(210, 200, 200, 1);
    border: 1px solid rgba(75, 70, 70, 1);
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: center;
    height: 100px;
}
.options label select {
    margin-left: 10px;
}
h1, h2 {
    color: rgba(255, 102, 0, 1);
}
h1 {
    font-size: 20px;
    margin: 0;
    display: flex;
    font-weight: normal;
}
h1 a {
    text-decoration: none;
}
h1 .logo {
    background: rgba(210, 88, 6, 1);
    color: #fff;
    padding: 10px 30px 10px 20px;
    display: flex;
}
h1 .logo:hover {
    background-color: rgba(255, 102, 0, 1);
}
h1 .subtitle {
    color: #fff;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
}
h2 {
    border: 1px solid rgba(255, 102, 0, 1);
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    background-color: rgba(0, 0, 0, 0.75);
    font-style: normal;
    border: 1px solid rgb(255, 102, 0);
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.2rem;
    font-weight: bold;
}
.footer {
    margin: 20px;
}
h2 .weaponGroupName {
    color: rgba(205, 205, 205, 1);
    margin-left: 10px;
    letter-spacing: 0;
    font-weight: normal;
}
select {
    color: #fff;
}
.intro {
    margin: 30px 0;
}
form.subscribe {
    padding: 10px;
    background: rgba(35, 30, 30, 1);
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
form.subscribe div {
    display: flex;
    flex: 1;
    margin-bottom: 10px;
    color: rgba(142, 142, 142, 1);
}
form.subscribe .inner {
    display: flex;
    border: 1px solid rgba(255, 102, 0, 1);
}
form.subscribe input, form.subscribe button {
    display: flex;
}
form.subscribe input {
    text-transform: uppercase;
    padding: 5px 10px;
    flex: 1;
}
button {
    border: none;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    transition: 30ms background-color linear;
    color: #fff;
    background-color: rgba(210, 88, 6, 1);
}
button:hover {
    background-color: rgba(255, 102, 0, 1);
}
button:focus {
    background-color: rgba(169, 67, 0, 1);
}
::selection {
  color: #fff;;
  background-color: rgba(210, 88, 6, 1);
}
